html,
body,
header,
#intro {
  height: 100%;
}

#intro {
  background: url("https://images.squarespace-cdn.com/content/v1/56abb4fe69a91abc2355fb93/1548133799763-FPJIKI688TAJZ9P69GYV/Bamboo+Stalks+-+Vietnam.JPG?format=1000w") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover; 
}
