.head{
  background-image: url("https://images.squarespace-cdn.com/content/v1/56abb4fe69a91abc2355fb93/1548133799763-FPJIKI688TAJZ9P69GYV/Bamboo+Stalks+-+Vietnam.JPG?format=1000w");
}

.newsletter{
  padding: 80px;
  background-color: lightslategray;
}

.newsletter .content{
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.newsletter .content h1{
  margin-bottom: 40px;
  color: white;
}

.newsletter .content h7{
  margin-bottom: 40px;
  color: white;
}

.newsletter .content .form-control{
  height: 50px;
  border-color: #fff;
  border-radius: 0;
}

.newsletter .content .form-control:focus{
  box-shadow: none;
  border: 2px solid #243c4f;
}

.newsletter .content .btn{
  min-height: 50px;
  border-radius: 0;
  background-color: black;
}